<a href="https://colab.research.google.com/github/AryaWiratama26/data-normal/blob/main/DataDiskrit_Bining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.pipeline import Pipeline
import numpy as np

In [ ]:
df = pd.read_csv('datasetgaji.csv')
df.head()

             Nama Status Rumah  Gaji Orang Tua  Keterangan
0      aldi taher      Kontrak         2100000         NaN
1          kekeyi        Milik         4000000         NaN
2   rangga sasana      Kontrak         1400000         NaN
3  vicky prasetyo      Kontrak          700000         NaN
4            zuko        Milik          650000         NaN

In [ ]:
batas_bin = [0, 1400000, 4000000]

In [ ]:
kategori = ["Kecil", "Besar"]

In [ ]:
df['gaji_binned_1'] = pd.cut(df['Gaji Orang Tua'], bins=batas_bin, labels=kategori)

In [ ]:
print(df)

             Nama Status Rumah  Gaji Orang Tua  Keterangan gaji_binned_1
0      aldi taher      Kontrak         2100000         NaN         Besar
1          kekeyi        Milik         4000000         NaN         Besar
2   rangga sasana      Kontrak         1400000         NaN         Kecil
3  vicky prasetyo      Kontrak          700000         NaN         Kecil
4            zuko        Milik          650000         NaN         Kecil
5           dyrga      Kontrak          450000         NaN         Kecil

# Binning dengna linespace

In [ ]:
bine = np.linspace(df['Gaji Orang Tua'].min(), df['Gaji Orang Tua'].max(), 3)

In [ ]:
print(bine)

[ 450000. 2225000. 4000000.]

In [ ]:
kategori = ["Kecil", "Besar"]

In [ ]:
df['gaji_binned_2'] = pd.cut(df['Gaji Orang Tua'], bins=bine, labels=kategori, include_lowest=True)

In [ ]:
print(df)

             Nama Status Rumah  Gaji Orang Tua  Keterangan gaji_binned_1  \
0      aldi taher      Kontrak         2100000         NaN         Besar
1          kekeyi        Milik         4000000         NaN         Besar
2   rangga sasana      Kontrak         1400000         NaN         Kecil
3  vicky prasetyo      Kontrak          700000         NaN         Kecil
4            zuko        Milik          650000         NaN         Kecil
5           dyrga      Kontrak          450000         NaN         Kecil

  gaji_binned_2
0         Kecil
1         Besar
2         Kecil
3         Kecil
4         Kecil
5         Kecil

# Bining dengan quantile

In [ ]:
df['gaji_binned_3'] = pd.qcut(df['Gaji Orang Tua'], q=2, labels=kategori)
print(df)

             Nama Status Rumah  Gaji Orang Tua  Keterangan gaji_binned_1  \
0      aldi taher      Kontrak         2100000         NaN         Besar
1          kekeyi        Milik         4000000         NaN         Besar
2   rangga sasana      Kontrak         1400000         NaN         Kecil
3  vicky prasetyo      Kontrak          700000         NaN         Kecil
4            zuko        Milik          650000         NaN         Kecil
5           dyrga      Kontrak          450000         NaN         Kecil

  gaji_binned_2 gaji_binned_3
0         Kecil         Besar
1         Besar         Besar
2         Kecil         Besar
3         Kecil         Kecil
4         Kecil         Kecil
5         Kecil         Kecil